// layout
$container-max: 1360px !default;
$columns: 12 !default;
$gutter: 15px !default;
$border-radius: .375rem !default;

// layout settings
$aside-ratio: 1 !default;
$main-ratio: 3 !default;
$aside-min: 300px !default;
$main-min: 320px !default;
$total-ratio: $aside-ratio + $main-ratio !default;
$available-width: calc(#{$container-max} - #{calc(#{$gutter} * 2)}) !default; // when layout have gap

// font path
$font-path: '@razerspine/ui/fonts' !default;
