pre {
  &.language-text {
    padding: 20px 15px;
  }
}

.language-text {
  background-color: var(--slate-900);
  color: var(--info);

  &-inline {
    color: var(--info);
    margin-right: 2px;
  }
}
