pre {
  &.language-text {
    border: 1px solid var(--slate-500);
    border-radius: 5px;
    padding: 20px 15px;
  }
}

.language-text {
  background-color: var(--slate-900);
  color: var(--info);

  &-inline {
    color: var(--info);
    margin-right: 2px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  border: 1px solid var(--slate-500);
  border-radius: 5px;
  padding: 10px 15px;
}
